body{
padding-top: 1rem;

  
background-color: #000000;

font-family: "微软雅黑","黑体";

font-size: 20px;color:#ffffff ;
position:relative;width:100%;min-height:100%;
}

 
    
.homepage{
	margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
}

/*#header-wrapper{
  position: relative;
 /* background: rgba(255, 255, 255, 0.6);*/
}

#header{
  padding: 4em 0em;
  padding-top: 0px;
    padding-bottom: 0px;
}
header>.banner{
 width: 500px;
 height: 150px;	
 background-image: url(img/wakeuplogo2-01.png);
}
.logo{
	width: 301px;
	height: 101px;
}
.my_menu{
	
	float: right;
    margin-bottom: 0px;
    margin-top: 0px;
		}
.my_menu a{
	text-decoration: none; 
}
.my_menu li{
	list-style-type: none;
	font-size: 20px
}
.my_menu>li{
	list-style-type: none;
	border: 1px ;
	float: left;
	margin: 20px;
	padding: 20px;	
}
.my_menu li:hover{
	background: rgba(255, 255, 255, 0.8);
}
.my_menu li:hover>a{
	color: #ffffff;
}

body {
	margin: 0;
	padding: 50px 0 0;
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	background: #111  no-repeat center top;
	color: #fff;
}
* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #32fde5;
}
img {
	border: none;
}
h1 {
	font: 4em  "微软雅黑","黑体";
	text-align:center;
	margin-top: 20px;
	margin-bottom: 10px;
	
}
h1 span { 	color: #32fde5; }
h1 small{
	font: 0.2em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing: 1.5em;
	display: block;
	color: #ccc;
	margin-top: 5px;
}

.container {
	width: 758px;
	margin: 0 auto;
	padding-bottom: 100px;
	overflow: hidden;
}
ul.display {
	float: left;
	width: 756px;
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	background: #222;
}
ul.display li {
	float: left;
	width: 754px;
	padding: 10px 0;
	margin: 0;
	border-top: 1px solid #111;
	border-right: 1px solid #111;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}
ul.display li a {
	color: #32fde5;
	text-decoration: none;
}
ul.display li .content_block {
	padding: 0 10px;
}
ul.display li .content_block h2 {
	margin: 0;
	padding: 5px;
	font-weight: normal;
	font-size: 1.7em;

}
ul.display li .content_block p {
	margin: 0;
	padding: 5px 5px 5px 245px;
	font-size: 1.2em;
}
ul.display li .content_block a img{
	padding: 5px;
	border: 2px solid #ccc;
	background: #fff;
	margin: 0 15px 0 0;
	float: left;
}

ul.thumb_view li{
	width: 250px;
}
ul.thumb_view li h2 {
	display: inline;
}
ul.thumb_view li p{
	display: none;
}
ul.thumb_view li .content_block a img {
	margin: 0 0 10px;
}


a.switch_thumb {
	width: 122px;
	height: 26px;
	line-height: 26px;
	padding: 0;
	margin: 10px 0;
	display: block;
	background: url(images/switch.gif) no-repeat;
	outline: none;
	text-indent: -9999px;
}
a:hover.switch_thumb {
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
a.swap { background-position: left bottom; }


